<div class="modal" id="myModal">
    <div class="modal-dialog ">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h2 class="modal-title">{{isEditMode? 'Update Employe' : 'Create Employe'}}</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
        </div>
  
        <form [formGroup]="createEmpl" (ngSubmit)="createEmpl">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 modal-feild">
                    <label for="fname">First Name <span>*</span></label>
                    <input type="text" class="form-control" id="fname" name="fname" formControlName="firstName">
                    <div *ngIf="fc['firstName'].touched && fc['firstName'].invalid">
                      <small *ngIf="fc['firstName'].errors?.['required'] ">
                          First Name is required
                      </small>
                    </div>
                  </div>
                  <div class="col-md-12 modal-feild">
                    <label for="lname">Last Name <span>*</span></label>
                    <input type="text" class="form-control" name="lname" id="lname"formControlName="lastName">
                    <div *ngIf="fc['lastName'].touched && fc['lastName'].invalid">
                      <small *ngIf="fc['lastName'].errors?.['required'] ">
                          Last Name is required
                      </small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 modal-feild">
                    <label for="email">Email<span>*</span></label>
                    <input type="text" class="form-control" name="email" id="email" formControlName="email">
                    <div *ngIf="fc['email'].touched && fc['email'].invalid">
                      <small *ngIf="fc['email'].errors?.['required'] ">
                          Email is required
                      </small>
                      <small *ngIf="fc['email'].errors?.['email']">
                        Email is not valid
                      </small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 modal-feild">
                    <label for="salary">Salary <span>*</span></label>
                    <input type="number" class="form-control" name="salary" id="salary" formControlName="salary">
                    <div *ngIf="fc['salary'].touched && fc['salary'].invalid">
                      <small *ngIf="fc['salary'].errors?.['required'] ">
                        salary is required
                      </small>
                    </div>
                  </div>
                </div>
                  <div class="row">
                  <div class="col-md-12 col-sm-6 modal-feild">
                    <label for="role">Role <span>*</span></label>
                    <input type="text" class="form-control" name="role" id="role" formControlName="role">
                    <div *ngIf="fc['role'].touched && fc['role'].invalid">
                      <small *ngIf="fc['role'].errors?.['required'] ">
                        role is required
                      </small>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-outline-dark w-50" data-bs-dismiss="modal" *ngIf="!isEditMode" (click)="onSubmit()" [disabled]="createEmpl.invalid" >Create</button>
              <button type="submit" class="btn btn-outline-dark w-50" data-bs-dismiss="modal" *ngIf="isEditMode" (click)="onUpdate()" [disabled]="createEmpl.invalid" > Update</button>
            </div>
           </form>
  
      </div>
    </div>
  </div>
<div class="container w-100 ">
    <div class="col d-flex justify-content-end my-3">
        <button class="btn btn-outline-dark rounded-pill" (click)="openCreateModal()" >Add Employe</button>
    </div>
    <div class="row mt-5" >  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-3" *ngFor="let item of empList" >
            <div class="card" appHostListener>
                <div class="card-body">
                    <h5 class="card-title">{{item.firstName + " " + item.lastName}}</h5>
                    <hr>
                    <p><b>Id:</b>{{item.id}}</p>
                    <p><b>Email:</b>{{item.email}}</p>
                    <p><b>Role:</b>{{item.role}} </p>
                    <p><b>Salary </b>{{item.salary}} </p>
                    <div class="footer d-flex justify-content-end">
                        <button class="btn btn-outline-dark mx-2" type="button" (click)="updateEmp(item)"><i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-outline-dark" type="button"(click)="onDelete(item.id!)"><i class="bi bi-trash3-fill"></i></button>
                    </div> 
                </div>
                
            </div>
        </div>
    </div>
</div>
