.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 40px;
    padding: 10px;
}
input.ng-invalid.ng-touched {
    border: 1px solid red;
}
small {
    color: red;
}
span{
    color: red;
}